.green-ex-container 
  .side-bar
    .search
      input(type="text", placeholder="Search the green exchange",ng-model="greenExchangeCtrl.message")
        
      input(type="button", name="name", value="Search")
    hr
    a(href="#", ng-click="greenExchange.doCollapse()") 
      .add-new
        .icon
          img(src="/images/add_plant.png", alt="Post a new plant")
        .text
          h2 Post a new plant
          p Post your plant and start exchanging 
    .plant-info(ng-class="greenExchange.collapse ? 'collapse' : ''")
      .form
        form(name="plantForm", ng-submit="greenExchange.submitForm()" novalidate)
          label Plant name 
          input(type="text",ng-model="greenExchange.plant.name", name="name",placeholder="Name of the plant", ng-class="{ 'has-error' : plantForm.name.$invalid && !plantForm.name.$pristine }" required)
          
          label Description
          
          textarea(name="description",ng-model="greenExchange.plant.description",id="description", rows="4", cols="40",placeholder="Description")
          
          label Quantity 
          
          input(type="number",ng-model="greenExchange.plant.quantity",min="1",name="quantity",id="qty", placeholder="Quantity", ng-class="{ 'has-error' : plantForm.quantity.$invalid && !plantForm.quantity.$pristine }" required)
          
          label Location 
          
          input(places-auto-complete size=80 ng-model="greenExchange.plant.address" component-restrictions="{country:'lk'}" types="{{types}}" on-place-changed="greenExchange.placeChanged()", ng-class="{ 'has-error' : plantForm.location.$invalid && !plantForm.location.$pristine }", name="location" required)  
          hr
          label Your name
          input(type="text",name="username",ng-model="greenExchange.plant.username", placeholder="Your name", ng-class="{ 'has-error' : plantForm.username.$invalid && !plantForm.username.$pristine }" required) 
          label Email
          input(type="email",name="email",ng-model="greenExchange.plant.email", placeholder="Email address", ng-class="{ 'has-error' : plantForm.email.$invalid && !plantForm.email.$pristine }" required) 
          
          input(type="submit", value="Post" ng-disabled="plantForm.$invalid")
         
      .map  
        ng-map(class="map")
      
      
          
      

    hr
    .filler
  .new-posts
    h1 34
    p new posts
        
  .posts
    .post
      .owner
        .image
          img(class='img',src='/images/avatar.svg')
        .details
          h2(class='name')  Heshan Malinda 
          p(class='action') has posted a new plant on 
           span#marketplace Marketplace
          p(class='date') 16/10/2016 06:34 pm
      .o-divider 
      .item
        .image
          img(src='/images/plant.png')  
        .details
          h3(class='name') Waldel (Dillenia triquetra)
          p(class='status') Staus: Critically endangered
          p(class='discription') Endemic to Sri Lanka
        //- .status
        //-   h3(class='current-status')   
      
      .market-item-bids
        ul(class='bids-list')
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka    
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka    
    //
    .post
      .owner
        .image
          img(class='img',src='/images/avatar.svg')
        .details
          h2(class='name')  Heshan Malinda 
          p(class='action') has posted a new plant on 
           span#marketplace Marketplace
          p(class='date') 16/10/2016 06:34 pm
      .o-divider 
      .item
        .image
          img(src='/images/plant.png')  
        .details
          h3(class='name') Waldel (Dillenia triquetra)
          p(class='status') Staus: Critically endangered
          p(class='discription') Endemic to Sri Lanka
        .status
          h3(class='current-status')   
      
      .market-item-bids
        ul(class='bids-list')
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka    
          li(class='bid-item')
            .bidder
              .image
                img(src='/images/avatar.svg')      
            .details
              h3.name Duminda Harshaka 
                small.action has bid on this plant with
              h3.value Dorana (Dipterocarpus glandulosus)
              p.discription Critically endangered, endemic to Sri Lanka    

  
        
    


   


//- script(type="application/javascript", src="../../assets/js/script.js")
//script(type="application/javascript",src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCO13QjFKNU_2w0aCcwqJV5vymDjr5OVY&libraries=places&callback=initAutocomplete" async defer)
