.container
  .hero
    .img
      img(src="/images/hero.png", alt="")
    .text1
      h2 be an 
      h1 Oxygen donor
      h2 be a 
      h1 Hero
      p The nation moving towards millions new trees beginning to grow and prosper and existing trees flourishing and spreading.
      p People making a lifelong commitment to nurture, protect and propagate trees they personally grow or ‘adopt’.
    .text2
      p People of all ages striving voluntarily with beautiful, like-minded others, to make unbelievably rich and complex natural settings that outlast us.
      p The development of a forum, a platform for people to share their experiences and joys, ideas and disappointments as well as plants, seeds, trees and know-how.
      p A thousand flowers blooming and a million people blossoming as a result of engaging with nature. 
      p People committing a tiny part of themselves to a collective that nurtures all and belongs to all and is led by none. 
  .green-ex
    .img
      img(src="/images/green_exchange.png", alt="")
    .text1
      h2 the 
      h1 Green 
      h1 Exchange
      p Simply you can exchange trees and plants you grow in your backyard.
      .start
        .flex
          button(type="button", name="button", ui-sref='green-exchange')  Start exchanging
          
  .forest
    .img
      img(src="/images/forest.png", alt="")    
    .text1
      h2 the 
      h1 Forest  
      p 
      .start
        .flex
          button(type="button", name="button") Into the forest
            
    
